@model DetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

@Model.Title

<a target="_blank" href="http://www.google.com">Attachment 1</a>
<a href="http://www.google.com">Attachment 2</a>
<a href="http://www.google.com">Attachment 3</a>
<a href="http://www.google.com">Attachment 4</a>
<a href="http://www.google.com">Attachment 5</a>